/* ///////////////Account info page css//////////////// */

main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
}

.card-1 {
    width: 39%;
    background-color: #0557499c;
    color: rgb(255, 255, 255);
    position: relative;
    border-radius: 2.5em;
    padding: 2em;
    transition: transform 0.4s ease;
    margin-left: 30px;
    margin-right: auto;
    margin-top: 2rem;
    height: 50%;
   
  }
  
  .card-1 .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2em;
    height: 100%;
    transition: transform 0.4s ease;
  }
  
  .card-1 .card-top, .card-1 .card-bottom {
    display: flex;
    justify-content: space-between;
  }
  
  .card-1 .card-top p, .card-1 .card-top .card-title, .card-1 .card-bottom p, .card-1 .card-bottom .card-title {
    margin: 0;
  }
  
  .card-1 .card-title {
    font-weight: bold;
  }
  
  .card-1 .card-top p, .card-1 .card-bottom p {
    font-weight: 600;
  }
  
  .card-1 .card-bottom {
    align-items: flex-end;
  }
  
  .card-1 .card-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    pointer-events: none;
  }
  
  .card-1 .card-image svg {
    width: 4em;
    height: 4em;
    transition: transform 0.4s ease;
  }
  
  .card-1:hover {
    cursor: pointer;
    transform: scale(0.97);
  }
  
  .card-1:hover .card-content {
    transform: scale(0.96);
  }
  
  .card-1:hover .card-image svg {
    transform: scale(1.05);
  }
  
  .card-1:active {
    transform: scale(0.9);
  }


.card-2 {
    width: 39%;
    background-color: #0557499c;
    color: rgb(255, 255, 255);
    position: relative;
    border-radius: 2.5em;
    padding: 2em;
    transition: transform 0.4s ease;
    margin-left: 30px;
    margin-right: auto;
    margin-top: 2rem;
    height: 50%;
   
  }
  
  .card-2 .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2em;
    height: 100%;
    transition: transform 0.4s ease;
  }
  
  .card-2 .card-top, .card-2 .card-bottom {
    display: flex;
    justify-content: space-between;
  }
  
  .card-2 .card-top p, .card-2 .card-top .card-title, .card-2 .card-bottom p, .card-2 .card-bottom .card-title {
    margin: 0;
  }
  
  .card-2 .card-title {
    font-weight: bold;
  }
  
  .card-2 .card-top p, .card-2 .card-bottom p {
    font-weight: 600;
  }
  
  .card-2 .card-bottom {
    align-items: flex-end;
  }
  
  .card-2 .card-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    pointer-events: none;
  }
  
  .card-2 .card-image svg {
    width: 4em;
    height: 4em;
    transition: transform 0.4s ease;
  }
  
  .card-2:hover {
    cursor: pointer;
    transform: scale(0.97);
  }
  
  .card-2:hover .card-content {
    transform: scale(0.96);
  }
  
  .card-2:hover .card-image svg {
    transform: scale(1.05);
  }
  
  .card-2:active {
    transform: scale(0.9);
  }


.card-3 {
    width: 89%;
    background-color: #0557499c;
    color: rgb(255, 255, 255);
    position: relative;
    border-radius: 2.5em;
    padding: 2em;
    transition: transform 0.4s ease;
    margin-left: 30px;
    margin-right: auto;
    margin-top: 2rem;
    height: 24%;
   
  }
  
  .card-3 .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2em;
    height: 100%;
    transition: transform 0.4s ease;
  }
  
  .card-3 .card-top, .card-3 .card-bottom {
    display: flex;
    justify-content: space-between;
  }
  
  .card-3 .card-top p, .card-3 .card-top .card-title, .card-3 .card-bottom p, .card-3 .card-bottom .card-title {
    margin: 0;
  }
  
  .card-3 .card-title {
    font-weight: bold;
  }
  
  .card-3 .card-top p, .card-3 .card-bottom p {
    font-weight: 600;
  }
  
  .card-3 .card-bottom {
    align-items: flex-end;
  }
  
  .card-3 .card-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    pointer-events: none;
  }
  
  .card-3 .card-image svg {
    width: 4em;
    height: 4em;
    transition: transform 0.4s ease;
  }
  
  .card-3:hover {
    cursor: pointer;
    transform: scale(0.97);
  }
  
  .card-3:hover .card-content {
    transform: scale(0.96);
  }
  
  .card-3:hover .card-image svg {
    transform: scale(1.05);
  }
  
  .card-3:active {
    transform: scale(0.9);
  }


.card-info {
    width: 75%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    position: relative;
    border-radius: 2.5em;
    padding: 2em;
    transition: transform 0.4s ease;
    margin-left: 30px;
    margin-right: auto;
    margin-top: 1rem;
    height: 95%;
   
  }
  
  .card-info .card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2em;
    height: 100%;
    transition: transform 0.4s ease;
  }
  
  .card-info .card-top, .card-info .card-bottom {
    display: flex;
    justify-content: space-between;
  }
  
  .card-info .card-top p, .card-info .card-top .card-title, .card-info .card-bottom p, .card-info .card-bottom .card-title {
    margin: 0;
  }
  
  .card-info .card-title {
    font-weight: bold;
  }
  
  .card-info .card-top p, .card-info .card-bottom p {
    font-weight: 600;
  }
  
  .card-info .card-bottom {
    align-items: flex-end;
  }
  
  .card-info .card-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    pointer-events: none;
  }
  
  .card-info .card-image svg {
    width: 4em;
    height: 4em;
    transition: transform 0.4s ease;
  }
  
  .card-info:hover {
    cursor: pointer;
    transform: scale(0.97);
  }
  
  .card-info:hover .card-content {
    transform: scale(0.96);
  }
  
  .card-info:hover .card-image svg {
    transform: scale(1.05);
  }
  
  .card-info:active {
    transform: scale(0.9);
  }
