body {
    margin: 0;
    display: flex;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
}

/* Sidebar Styles */
.sidebar {
    width: 200px;
    background-color: #8b3e0e;
    color: #fff;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    position: relative;
}

.sidebar h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}

.sidebar a {
    display: block;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 10px;
    background-color: #9b500d;
    border-radius: 8px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
}

.sidebar a:hover {
    background-color: #b06328;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: translateX(5px);
}

.sidebar a i {
    margin-left: 10px;
}

.sign-out {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    background-color: #9b500d;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-out:hover {
    background-color: #732e0b;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: translateX(5px);
}

.sign-out i {
    margin-left: 10px;
}

/* Main Content Area */
.main-content {
    flex: 1;
    padding: 30px;
    background-color: #F7E8E8;
    overflow-y: auto;
}

.user-info-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px; /* Form width */
    text-align: center;
    margin: auto;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 2px solid #ccc;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    margin-bottom: 15px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-group {
    width: 48%; /* Field group width */
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="email"], input[type="tel"], select {
    width: 100%; /* Input field width */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

/* Responsive Design */
@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
    }

    .main-content {
        padding: 20px;
    }
}